<div class="product-view">
  <div *ngIf="product" class="product-details gradient-quarternary-color">
    <div class="product-image-section">
      <div class="image-container">
        <img
          [src]="product.imageUrl"
          class="product-image"
          alt="Product Image"
        />
      </div>
    </div>

    <div class="product-info-section">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <h2>{{ product.price | currency }}</h2>
      <button
        mat-raised-button
        color="primary"
        (click)="addToCart()"
        class="btn btn-secondary"
      >
        Adicionar ao Carrinho
      </button>
    </div>
  </div>

  <div *ngIf="comments.length > 0" class="product-comments">
    <h3>Comentários dos Clientes</h3>
    <div
      class="comment gradient-tertiary-color"
      *ngFor="let comment of comments"
    >
      <p>{{ comment }}</p>
    </div>
  </div>
</div>
