$primary-color: #f1ddbf;
$secondary-color: #525e75;
$tertiary-color: #78938a;
$quaternary-color: #92ba92;
$white-color: #ffffff;
$black-color: #000000;

.gradient-tertiary-color {
  background: linear-gradient(to right, $tertiary-color, $white-color);
}

.gradient-secondary-collor {
  background: linear-gradient(to right, $secondary-color, $white-color);
}

.gradient-quarternary-color {
  background: linear-gradient(to right, $quaternary-color, $white-color);
}


#carousel {
  margin-top: 20px;
}

.carousel-inner {
  display: flex;
  gap: 20px;
}
.carousel-item {
  margin: 30px 30px 30px 15px;
  padding: 10px 10px 0 20px;
  img {
    max-height: 400px;
    object-fit: scale-down;
    width: 60%;
  }
}


.product-view {
  padding: 20px;
}

.product-details {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.product-images {
  flex: 1;
}

.product-images img {
  max-width: 100%;
  margin-bottom: 10px;
}

.product-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.product-info h1 {
  margin-top: 0;
}

.product-comments {
  margin-top: 20px;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

