<div class="section cart-header" id="cart-header">
  <h2>Meu Carrinho</h2>
</div>
<div class="section cart-body">
  <div *ngIf="cartItems.length; else emptyCart" >
    <app-cart-item class="cart-row"
      *ngFor="let item of cartItems"
      [item]="item"
      (quantityChanged)="updateTotal()"
      (removeItem)="removeFromCart(item.product)"
    ></app-cart-item>
  
    <div class="cart-summary">
      <h4>Resumo da Compra</h4>
      <p>Valor dos Produtos: {{ totalValue | currency }}</p>
      <p>Valor do Frete: {{ shippingCost | currency }}</p>
      <p>Total da Compra: {{ totalAmount | currency }}</p>
      <button class="btn btn-primary">Fechar pedido</button>
    </div>
  </div>
  

  <ng-template #emptyCart>
    <div class="empty-cart text-center">
      <p>O carrinho está vazio.</p>
      <a class="btn btn-secondary" routerLink="/">Iniciar Busca</a>
    </div>
  </ng-template>

</div>
<div class="cart-footer">
    
</div>

