<div class="product-view">
  <mat-toolbar color="primary">
    {{ product.name }}
  </mat-toolbar>

  <div class="product-details">
    <div class="product-images">
      <img *ngFor="let image of product.images" [src]="image" alt="Product Image">
    </div>
    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <h2>{{ product.price | currency }}</h2>
      <button mat-raised-button color="primary">Adicionar ao Carrinho</button>
    </div>
  </div>

  <div class="product-comments">
    <h3>Comentários dos Clientes</h3>
    <div class="comment" *ngFor="let comment of comments">
      <p>{{ comment }}</p>
    </div>
  </div>
</div>
