/* src/app/home/home.component.scss */

.carousel-item img {
  max-height: 300px;
  object-fit: scale-down;
  width: 60%;
}

.section {
  margin: 20px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-card {
  width: calc(33% - 10px);
  display: flex;
  flex-direction: column;
}

mat-card img {
  height: 200px;
  object-fit: cover;
  width: 60%;
}

footer {
  margin-top: 20px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px 0;
}
